.layoutContainer {
    display: flex;
    height: 100vh;
    width: 100%;
}


.mainContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pageContent {
    /* padding: 16px; */
    height: 100%;
    width: 100%;
    overflow: scroll;
}

@media (max-width: 768px) {
    .mainContent {
        width: 75%;
    }

    .pageContent {
        width: 90%;
        overflow-x: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;

        scroll-behavior: smooth;
    }

    .pageContent::-webkit-scrollbar {
        display: none;
    }
}